.container{
    width: min-content;
    margin: auto;
    margin-top: 90px;
    box-sizing: border-box;
    font-family: url(https://fonts.google.com/specimen/Poppins);
}
ul{
    display: flex;
    padding: 0;
}
li:first-child{
    background-color: rgb(238, 164, 26);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
li:nth-child(2){
    background-color: deepskyblue;
}
li:nth-child(3){
    background-color: darkgreen;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
li{
    width: 210px;
    padding: 36px;
    list-style: none;
}
li p{
    height: 90px;
    margin-bottom: 63px;
    color: white;
}
li h2{
    color: white;
}
li button{
    padding: 12px 23px;
    border-radius: 18px;
    background-color: white;
    border: 1px solid white;
}
li:nth-child(1) button{
    color: rgb(238, 164, 26);
}
li:nth-child(2) button {
    color: deepskyblue;
}
li:nth-child(3) button {
    color: darkgreen;
}
li button:hover{
    color: white;
    background: transparent;
    cursor: pointer;
}
@media (max-width: 768px){
    ul{
        flex-wrap: wrap;
    }
    li:nth-child(1){
        border-top-right-radius: 9px;
        border-bottom-left-radius: 0;
    }
    li:nth-child(3){
        border-bottom-left-radius: 9px;
        border-top-right-radius: 0;
    }
}